body {
  background-image: url(/images/background.jpg);
}

.best {
  font-style: italic;
  color: darkmagenta;
}

.title {
  text-align: center;
  color:teal;
  background-color: palevioletred;
  border-style: dashed;
  border-color: pink;
  border-radius: 15px;
}

.content-box {
  box-sizing: content-box;
  width: 350px;
  margin-left: 480px;
}

