body {
  background-image: url(/images/index-background.jpg);
}

.best {
  font-style: italic, bold;
  color: darkmagenta;
  background-color: lavender;
}

.title {
  color:teal;
}

.content-box {
  text-align: center;
  box-sizing: content-box;
  width: 350px;
  margin-left: 510px;
  margin-right: 500px;
  border-style: dashed;
  border-color: pink;
  border-radius: 15px;
  background-color: palevioletred;
}

.main-menu {
  list-style-type: none;
  display: inline;
}

p {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

img {
  margin-right: 370px;
  margin-left: 370px;
  border-radius: 15px;
  border-style: groove;
  border-color: lightcoral;
}